:root {
    --mainText: black;
    --secondaryColor: #fff;
    --secondaryText: #4b5156;
    --borderColor: #c1c1c1;
    --mainColor: #eaeaea;
    --previewBg: rgb(251, 249, 243, 0.8);
    --previewShadow: #f0ead6;
    --btnColor: black;
}

html body {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body * {
    transition: 0.3s;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    color: var(--mainText);
    font-family: 'Russo One', sans-serif;
    font-weight: 500;
}

h1 {
    font-size: 56px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 26px;
}

h5 {
    font-size: 20px;
}

p,
li,
span,
label,
input,
textarea {
    color: var(--secondaryText);
    font-family: 'Roboto Mono', monospace;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #17a2b8;
}

.s1 {
    background-color: var(--mainColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}

.s2 {
    overflow: auto;
    background-color: var(--secondaryColor);
    border-bottom: 1px solid var(--borderColor);
}

.main-container {
    width: 1200px;
    margin: 0 auto;
}

.greeting-wrapper {
    display: grid;
    /* justify-content: center; */
    text-align: center;
    min-height: 10em;
    /* border: 2px solid lightcoral; */
}

.intro-wrapper {
    background-color: var(--secondaryColor);
    border: 1px solid var(--borderColor);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'nav-wrapper nav-wrapper''left-column right-column';
    grid-template-rows: 3em 30em;
    border-radius: 5px 5px 0 0;
}

.nav-wrapper {
    grid-area: nav-wrapper;
    border-bottom: 1px solid var(--borderColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--mainColor);
}

.left-column {
    grid-area: left-column;
    /* border: 1px solid red; */
    padding-top: 50px;
    padding-bottom: 50px;
}

.dots-wrapper {
    display: flex;
    padding: 10px;
}

.browser-dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: black;
    margin: 5px;
    box-shadow: -1px 1px 3px -1px rgb(0 0 0 / 75%);
}

#dot-1 {
    background-color: #FC6058;
}

#dot-2 {
    background-color: #FEC02F;
}

#dot-3 {
    background-color: #2ACA3E;
}

#navigation li {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    color: var(--secondaryColor);
}

#navigation a {
    color: var(--mainText);
}

#profile {
    display: block;
    margin: 0 auto;
    height: 200px;
    width: 200px;
    object-fit: cover;
    border: 2px solid var(--borderColor);
}

.theme-dot {
    background-color: black;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 5px;
    box-shadow: -1px 1px 3px -1px rgb(0 0 0 / 75%);
    border: 2px solid var(--borderColor);
}

.theme-dot:hover {
    cursor: pointer;
}

.theme-dot:hover {
    border-width: 5px;
}

#theme-option-wrapper {
    display: flex;
    justify-content: center;
}

#light-mode {
    background-color: #fff;
}

#blue-mode {
    background-color: #192734;
}

#green-mode {
    background-color: #78866b;
}

#purple-mode {
    background-color: #7E4C74;
}

#setting-node {
    font-size: 12px;
    font-style: italic;
    text-align: center;
}

.right-column {
    grid-area: right-column;
    /* border: 1px solid var(--borderColor); */
    display: grid;
    align-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

#preview {
    border: 1.5px solid #17a2b8;
    background-color: var(--previewBg);
    padding: 15px;
    position: relative;
    width: 300px;
}

.corner {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 1.5px solid #17a2b8;
    background-color: #Fff;
    position: absolute;
}

#corner-tl {
    top: -5px;
    left: -5px;
}

#corner-tr {
    top: -5px;
    right: -5px;
}

#corner-br {
    bottom: -5px;
    right: -5px;
}

#corner-bl {
    bottom: -5px;
    left: -5px;
}

.preview-shadow {
    background-color: var(--previewShadow);
    width: 300px;
    height: 180px;
    padding-left: 30px;
    padding-top: 30px;
}

.about-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 100px;
}

#skills {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--previewShadow);
}

#social_img {
    width: 100%;
}

.social-link {
    display: grid;
    align-content: center;
    text-align: center;
}

.post-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, 320px);
    gap: 20px;
    justify-content: center;
    padding-bottom: 50px;
}

.thumbnail {
    display: block;
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.post {
    border: 1px solid var(--borderColor);
    box-shadow: -2px 7px 21px -9px rgb(0 0 0 / 75%);
}

.post-preview {
    background-color: #fff;
    padding: 15px;
}

.post-title {
    margin: 0;
    color: black;
}

.post-intro {
    color: #4b5156;
    font-size: 14px;
}

#submit-btn {
    margin-top: 10px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    background-color: var(--btnColor);
    border: none;
    cursor: pointer;
}

#contact-form {
    display: block;
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid var(--borderColor);
    padding: 15px;
    background-color: var(--mainColor);
    margin-bottom: 50px;
}

.input-field {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--secondaryColor);
    border-radius: 5px;
    border: 1px solid var(--borderColor);
    font-size: 14px;
}

#contact-form label {
    line-height: 2.7em;
}

#contact-form textarea {
    min-height: 100px;
    width: 100%;
    font-size: 14px;
    background-color: var(--secondaryColor);
}